AI Email automation-2.json
{
  "name": "AI Email automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -80,
        0
      ],
      "id": "2d540459-ae4a-4304-958c-92a6a49e0276",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "6MNzDIb4VXVgftrb",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4d340e4f-cc6d-4464-8914-82ae6188c6b8",
              "leftValue": "={{ $('HTTP Request1').item.json.urgency }}",
              "rightValue": "High",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        0
      ],
      "id": "4bdf562f-93a7-4a71-bcd8-2c7025a70c90",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1509126703111209090/TGCYcdWnj0e72sw-LAp8yFGtCjo-A-rVe8NG-CuPrvozmyDxc6BAv8Z2RKdM3QU6de0W",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "=🚨 *High Urgency Email Detected!* 🚨\n\n*Subject:* {{ $('Gmail Trigger').item.json.Subject }}\n*Summary:* {{ $('HTTP Request1').item.json.summary }}\n*Department:* {{ $('HTTP Request1').item.json.department }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1152,
        -16
      ],
      "id": "7c390347-486e-4dbd-a66d-f4c014684ff4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Explicitly map over the items and return clean n8n objects\nreturn $input.all().map(item => {\n  let rawBody = item.json.text || item.json.snippet || \"\";\n  \n  let cleanBody = rawBody\n    .replace(/<[^>]*>/g, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  return {\n    json: {\n      ...item.json,\n      sanitized_body: cleanBody.substring(0, 2000)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "id": "6265a8ad-42e0-4966-a202-0d9173e2b5ad",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/analyze-ticket",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subject",
              "value": "={{ $('Gmail Trigger').item.json.Subject }}"
            },
            {
              "name": "message",
              "value": "={{ $json.Subject }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        0
      ],
      "id": "1df61bb9-9d6c-4719-b0d6-84837a105999",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        608,
        0
      ],
      "id": "62160e6f-77e7-4930-b688-ee9360537f6a",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "6QMzcbvz21Q4FAT3",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0701daef-4054-4545-b398-03d5bde5d547",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6618a13a511442dbffa61262246adaf1f01538682ec4e7438ed5af58ee514d90"
  },
  "id": "tZf7zJDQDPXYrp8B",
  "tags": []
}